# LaTeX temporäre Dateien
*.aux
*.bbl
*.blg
*.log
*.lof
*.lot
*.fls
*.out
*.toc
*.synctex.gz
*.fdb_latexmk

#word-datein
*.docx

# PDF-Dateien (optional, falls du sie nicht versionieren möchtest)
*.pdf

# macOS Systemdateien
.DS_Store

# VS Code Settings (optional)
.vscode/